.main_content {
    background: #FFFFFF;
}

.logo, .user_type img {
    height: 50px;
}

.yourself {
    text-align: center;
}

.user_type {
    display: inline;
    vertical-align: middle;
    width: 60%;
}

.user_type table {
    width: 100%;
}

.user_type table, .user_type table tr, .user_type table tr td {
    border: none;
}

.user_type table tr td {
    text-align: left;
}

.user-type {
    font-weight: 300;
}

.right_home_panel {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 98vh;
}