.main_content {
    background: #FFFFFF;
}

.top {
    margin-top: 30px;
}

.logo {
    margin-left: 30px;
}

.logo, .user_type img {
    height: 50px;
}

.yourself {
    text-align: center;
}

.yourself h3 {
    margin-bottom: 60px;
}

.user_type {
    display: inline-table;
    vertical-align: middle;
    width: 60%;
    margin-top: 30px;
    padding: 20px 10px;
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.user_type:hover {
    background: rgba( 255, 255, 255, 0.50);
    box-shadow: 0 4px 22px 0 rgba(31, 38, 135, 0.418);
    backdrop-filter: blur( 8px);
    -webkit-backdrop-filter: blur( 8px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    transform: scale3d(1, 0, 1);
}

.user_type table {
    width: 100%;
}

.user_type table, .user_type table tr, .user_type table tr td {
    border: none;
}

.user_type table tr td:nth-child(1) {
    text-align: center;
    width: 70px;
}

.user_type table tr td:nth-child(3) {
    text-align: right;
}

.user-type {
    font-weight: 500;
    text-align: left;
}

.user-type span {
    display: table;
    font-weight: 300;
    opacity: 0.5;
}

.right_home_panel {
    background-color: #EDF0F4 !important;
    height: 98vh;
    vertical-align: middle;
    text-align: right;
    margin: 0px !important;
    padding: 0px !important;
}

.right_home_panel span {
    display: table;
    position: absolute;
    width: 90%;
    height: 70%;
    top: 15%;
    right: 0px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}