.main_content {
    background: #FFFFFF;
}

.logo, .user_type img {
    height: 50px;
}

.yourself {
    text-align: center;
}

.user_type {
    display: inline-table;
    vertical-align: middle;
    width: 60%;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.user_type table {
    width: 100%;
}

.user_type table, .user_type table tr, .user_type table tr td {
    border: none;
}

.user_type table tr td:nth-child(1) {
    text-align: center;
}

.user_type table tr td:nth-child(3) {
    text-align: right;
}

.user-type {
    font-weight: 300;
    text-align: left;
}

.right_home_panel {
    background-color: #EDF0F4 !important;
    height: 98vh;
    vertical-align: middle;
    text-align: right;
    margin: 0px !important;
    padding: 0px !important;
}

.right_home_panel span {
    display: table;
    position: absolute;
    width: 70%;
    height: 90%;
    top: 15%;
    right: 0px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}