body {
    background: #F2F2F7 !important;
    font-family: Segoe UI;
}

/* Side Bar */

.side_bar {
    display: flex;
    height: 85vh;
    position: fixed;
    left: 2.5vw;
    top: 7.5vh;
    width: 15vw;
    flex-direction: column;
    transition: all 0.56s;
    /* background: rgba( 255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18); */
}

.nav_links {
    padding: 10px 5px;
}

.nav_links:hover {
    background: #E1E1E2;
}

/* Main Content */

.main-content {
    display: table;
    margin-left: 20vw;
    padding: 20px 50px;
    border-radius: 10px 0px 0px 10px;
    background: #FFFFFF;
    width: 80vw;
    right: 0vw;
    min-height: 100vh;
    box-shadow: -5px 0px 10px #dddddd;
}

.slide-icons-parent {
    padding-right: 20px !important;
    padding-left: 0px !important;
}

.slide-icons {
    display: flex;
    overflow-x: auto;
    padding-left: 0px !important;
    margin-left: 0px !important;
    box-shadow: 0 0px 12px 0 rgb(31 38 135 / 17%);
    border-radius: 10px;
}

.slide-icon {
    margin: 10px 10px 10px 0px;
    text-align: center;
    display: inline-table;
    padding: 7px;
    width: 80px;
    cursor: pointer;
}

.slide-icon .fa {
    border: 1px solid rgba(131, 161, 254, 0.38);
    border-radius: 100%;
    padding: 10px 12px;
    background: #F3F6FA;
}

.slide-icon span {
    text-align: center;
    display: table;
    width: 100%;
}

.slide-icon span:last-child {
    font-size: smaller;
}

.row-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    background: #F7F9F9;
    margin-right: 20px !important;
    padding: 5px;
}

.row-tabs span {
    margin: 0px;
    padding: 7px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.row-tabs .active {
    border: 1px solid rgba( 255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
}

.wallet-panel {
    min-height: 75vh !important;
}

.right-card {
    background: rgba( 247, 248, 250, 1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
    border-radius: 10px;
}

.balance-card {
    margin-top: 10px;
    display: table;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 20px 30px;
    width: 100%;
    background-image: linear-gradient(to left bottom, #3455ff, #006bff, #007dff, #008dff, #169cff, #00a9ff, #00b6ff, #00c1fc, #00cdf5, #00d8e9, #20e1d7, #5ee8c4);
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.27);
    backdrop-filter: blur( 10.5px);
    -webkit-backdrop-filter: blur( 10.5px);
}

.balance-card .balance-title {
    display: table;
}

.balance-card .balance-amount {
    font-size: 30px;
    font-weight: 500;
}

.transactions-card {
    border-right: 1px solid #dddddd;
}

.transaction-table {
    padding-right: 50px;
}

.transaction-table, .transaction-table tr {
    width: 100%;
}

.t-img {
    width: 40px;
}

.transaction-table, .transaction-table tr, .transaction-table td {
    border: none !important;
    border-top: none !important;
    vertical-align: middle;
}

.transaction-table td {
    padding-bottom: 0px !important;
}

.transaction-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border: 1px solid #dddddd;
}

.transaction-td {
    text-align: right;
}

.transaction-title, .transaction-amount {
    display: table;
    font-weight: 800;
}

.transaction-status, .transaction-time {
    display: table;
    font-weight: 50;
    font-size: 12px;
    color: #c0c0c0;
}

.transaction-amount, .transaction-time {
    width: 100%;
    text-align: right;
}

.complete {
    color: #8AE3B7 !important;
}

.cc {
    position: relative;
    font-size: 16px;
    color: white;
    width: 100%;
    height: 174px;
    border-radius: 16px;
    box-shadow: 0px 0px 18px -1px #2e2e2e57;
    margin-top: 20px;
}

.cc.visa {
    background-image: linear-gradient(to top right, #52B6FE, #6154FE);
}

.cc.mastercard {
    background-image: linear-gradient(to top right, #843E3D, #040B2E);
}

.cc:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-image: linear-gradient(to top, transparent, #FFFFFF);
    opacity: 30%;
}

.cc svg {
    position: absolute;
    top: 80px;
}

.cc svg path {
    fill: transparent;
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-linecap: round;
}

.cc .container {
    position: absolute;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cc .holder {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.cc .holder span {
    display: block;
}

.cc .holder span.name {
    font-size: 14px;
    color: #CCCCCC;
}

.cc .holder span.number {
    font-weight: 500;
}