@media only screen and (max-width: 600px) {

    .side_bar {
        left: 2%;
    }

    .main-content {
        display: table;
        margin-left: 20vw;
        width: 80vw;
        right: 0vw;
    }

    .slide-icons-parent{
        margin: 0px !important;
        padding: 0px !important;
    }
    .slide-icons {
        display: flex;
        flex-direction: row;
        width: 68vw;
        height: 70px;
        align-items: center;
        justify-content: flex-start;
        overflow-x: auto;
    }
}