body {
    background: #F2F2F7 !important;
}

/* Side Bar */

.side_bar {
    display: flex;
    height: 85vh;
    position: fixed;
    left: 2.5%;
    top: 7.5vh;
    width: 50px;
    border-radius: 10px;
    border: 1px solid #c5c1c1;
    background: rgba( 255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

/* Main Content */

.main-content {
    display: table;
    margin-left: 10vw;
    padding: 20px 50px;
    border-radius: 10px 0px 0px 10px;
    background: #FFFFFF;
    width: 90vw;
    right: 0vw;
    min-height: 200vh;
    box-shadow: -5px 0px 10px #dddddd;
}

.wallet-panel{
    min-height: 90vh !important;
}

.right-card {
    background: rgba( 255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.balance-card {
    margin-top:20px;
    display: table;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 20px 30px;
    width: 100%;
    background-image: linear-gradient(to left bottom, #3455ff, #006bff, #007dff, #008dff, #169cff, #00a9ff, #00b6ff, #00c1fc, #00cdf5, #00d8e9, #20e1d7, #5ee8c4);
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 10.5px);
    -webkit-backdrop-filter: blur( 10.5px);
}

.balance-card .balance-title {
    display: table;
}

.balance-card .balance-amount {
    font-size: 50px;
    font-weight: 800;
}

.transactions-card {
    border-right: 1px solid #dddddd;
}

.transaction-table, .transaction-table tr {
    width: 100%;
}

.t-img {
    width: 40px;
}

.transaction-table, .transaction-table tr, .transaction-table td {
    border: none !important;
    border-top: none !important;
}

.transaction-table td {
    padding-bottom: 0px !important;
}

.transaction-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border: 1px solid #dddddd;
}

.transaction-title, .transaction-amount {
    display: table;
    font-weight: 800;
}

.transaction-status, .transaction-time {
    display: table;
    font-weight: 50;
    font-size: 12px;
    color: #c0c0c0;
}

.complete {
    color: #8AE3B7 !important;
}