@media only screen and (max-width: 600px) {

    .side_bar {
        left: 2%;
    }

    .main-content {
        display: table;
        margin-left: 20vw;
        padding: 20px;
        width: 80vw;
        right: 0vw;
    }
}