@media only screen and (max-width: 600px) {
    .side_bar {
        left: 2%;
        position: fixed !important;
        left: 2.5%;
        top: 7.5vh;
    }
    .main-content {
        display: table;
        margin-left: 20vw;
        width: 80vw;
        right: 0vw;
        padding: 20px;
    }
    .slide-icons-parent {
        margin: 0px !important;
        padding: 0px !important;
    }
    .slide-icons {
        display: flex !important;
        flex-direction: row !important;
        width: 68vw !important;
        height: 70px !important;
        align-items: center !important;
        justify-content: flex-start !important;
        overflow-x: auto !important;
    }
    .balance-card .balance-amount {
        font-size: 35px;
        font-weight: 800;
    }
    .balance-card .balance-account{
        display: table;
    }
}